html, body {
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
    background: #4aaaa5;
    max-width: 960px;
    max-height: 100%;
    margin: 0;
    font-size: 18px;  
    text-align: left;
    margin-left: auto;
    margin-right: auto;  
}

header {
    padding: 40px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #ffffff;
    margin-bottom: 20px;
}

nav {
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: whitesmoke;
    background: black;
}

article {
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

section {
    background: #ffffff;
}

footer {
    clear: both;
    text-align: center;
    color: whitesmoke;
    background: #666666;
    height: 50px;
}

.left {
    float: left;
    width: 30%;
}

.right {
    float: right;
    width: 10%;
}